*,
*::before,
*::after {
    box-sizing: inherit;
}

@-ms-viewport {
    width: device-width;
}

html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -ms-overflow-style: scrollbar;
}

header,
nav,
main,
section,
footer {
    display: block;
}

section:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

body {
    margin: 0;
    height: auto;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    color: #12369D;
    /*    background: #F6F6F6;*/
    background: white;
}

img {
    width: 100%;
    height: auto;
}

/******************Fonts*******************/

hr {
    border: #12369D 1px solid;

}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
    line-height: 1.6;
}

a {
    color: #12369D;
    text-decoration: none;
    background-color: transparent;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    margin-bottom: 0.5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    color: inherit;
}

h1,
.h1 {
    font-size: 2.5rem;
}

h2,
.h2 {
    font-size: 2rem;
}

h3,
.h3 {
    font-size: 1.75rem;
}

h4,
.h4 {
    font-size: 1.5rem;
}

h5,
.h5 {
    font-size: 1.25rem;
}

h6,
.h6 {
    font-size: 1rem;
}

/****************** Media Queries *******************/

.container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    margin: 0;
}

.container_med_padding {
    width: 80%;
    padding-right: 10%;
    padding-left: 10%;
    margin-right: auto;
    margin-left: auto;
    margin: 0;
}

.container_1fr {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    margin: 0;
}

.container_2fr {
    width: 92%;
    padding-right: 4%;
    padding-left: 4%;
    margin-right: auto;
    margin-left: auto;
    margin: 0;
}

.container_3fr {
    width: 92%;
    padding-right: 4%;
    padding-left: 4%;
    margin-right: auto;
    margin-left: auto;
    margin: 0;
}

@media (max-width: 575px) {
    .container_1fr {}
    .container_2fr {
        /*        background-color: aqua;*/
    }
    .container_3fr {
        /*        background-color: aqua;*/
    }


}

@media (min-width: 576px) {
    .container_1fr {}
    .container_2fr {
        /*        background-color: blueviolet;*/
    }
    .container_3fr {
        /*        background-color: blueviolet;*/
    }

}

@media (min-width: 768px) {

    .container {
        /*        background-color: crimson;*/
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .container_1fr {
        /*        background-color: crimson;*/
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .container_2fr {
        /*        background-color: crimson;*/
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .container_med_padding {
        /*        background-color: crimson;*/
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .container_3fr {
        /*        background-color: crimson;*/
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

}

@media (min-width: 992px) {
    .container {
        /*        background-color: darkseagreen;*/
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .container_1fr {
        /*        background-color: darkseagreen;*/
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .container_2fr {
        /*        background-color: darkseagreen;*/
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .container_med_padding {
        /*        background-color: crimson;*/
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    #omoscontainer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);


    }
    .container_3fr {
        /*        background-color: darkseagreen;*/
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .topnav {
        margin: 0px auto;
        width: 1037px;
        /*        background-color: aqua;*/
    }
    .topnav a {
        margin-right: 140px;
    }
    .topnav a:nth-child(5) {
        margin-right: 0px;
    }
    .sticky {
        padding-left: 14%;
        /*        background-color: blueviolet;*/
    }
}

@media (min-width: 1200px) {
    .container {
        /*        background-color: darkorange;*/
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .container_1fr {
        /*        background-color: darkorange;*/
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .container_2fr {
        /*        background-color: darkorange;*/
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .container_med_padding {
        /*        background-color: crimson;*/
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    #omoscontainer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

    }
    .container_3fr {
        /*        background-color: darkorange;*/
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .topnav {
        margin: 0px auto;
        width: 1037px;
        /*        background-color: aqua;*/
    }
    .topnav a {
        margin-right: 140px;
    }
    .topnav a:nth-child(5) {
        margin-right: 0px;
    }
    .sticky {
        padding-left: 13%;
        /*        background-color: blueviolet;*/
    }
}

.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

/*********** Media Queries Navigation ************************/

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */

@media screen and (max-width: 600px) {

    .topnav a:not(:first-child) {
        display: none;
    }
    .topnav a.icon {
        float: right;
        display: block;
    }

}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */

@media screen and (max-width: 600px) {

    .topnav.responsive {
        position: relative;
    }
    .topnav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}

/******************video*******************/

video {
    width: 100%;
}

/******************header-top*******************/

#header-top {
    height: 120px;
    padding-left: 40px;
    padding-bottom: 25px;

}


.icons:first-child {
    width: 30px;
    height: 30px;

}

.icons:nth-child(2) {
    width: 30px;
    height: 30px;
}

.icons:nth-child(3) {
    width: 30px;
    height: 30px;
}

.cart {
    width: 30px;
    height: 30px;
    margin-left: 10px;
}

.logo {
    width: 20%;
    margin-left: 29%;
    margin-top: 0.7%;
}

/******************Navbar/Menu*******************/

/* The sticky class is added to the navbar with JS when it reaches its scroll position */

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}



/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */

.sticky + #SoMe {
    padding-top: 60px;

}



/* Add a black background color to the top navigation */

.topnav {
    background: white;
    overflow: hidden;
    color: black;


}

/* Style the links inside the navigation bar */

.topnav a {
    display: inline-block;
    text-align: center;
    padding: 16px 14px 5px 14px;
    text-decoration: none;
    font-size: 17px;
    margin-bottom: 25px;
    color: black;

}

/* Change the color of links on hover */

.topnav a:hover {
    color: #12369D;
}

/* Add an active class to highlight the current page */

.topnav .active {
    border-bottom: 2px #12369D solid;
}


/* Hide the link that should open and close the topnav on small screens */

.topnav .icon {
    display: none;
}

/******************SoMe*******************/

#SoMe {
    height: auto;
    width: 100%;
    background-color: #6a90ff;
    color: #12369D;
    z-index: -5;
}

#SoMe:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

#SoMe_tx {
    text-align: center;
    display: inline-block;
    width: 100%;
    background-color: #6a90ff;
    padding-top: 1.5%;
    padding-bottom: 0.5%;

}

.button {
    background-color: #12369D;
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    margin-left: 10px;
}

/*
.top {
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, .8);
    -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, .8);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .8);
}
*/

/******************Video_bg*******************/

#video_bg {
    display: grid;
    height: 500px;
}

#video_bg:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}


#myVideo {
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

.content {
    bottom: 0;
    color: #12369D;
    position: relative;
    padding: 20px;
    width: 400px;
    top: -400px;
    /* float: right; */
    left: 800px;
}

#myBtn {
    width: 70px;
    font-size: 18px;
    padding: 10px;
    border: none;
    background: #12369D;
    color: #fff;
    cursor: pointer;
}


/******************Omflasken*******************/

#omflasken {
    display: grid;
    width: 100%;
    z-index: 7;

}

#omflasken:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}


.omtekst {
    max-width: 500px;
}

#omflasken h1 {
    margin-top: 2%;
    margin-bottom: 2%;

}

#omflasken p {
    line-height: 1.6;


}

/******************Omflasken slut*******************/

/******************Design*******************/

#design {
    display: grid;
    padding-bottom: 165px;

}

#design_container {
    width: 100%;
    display: grid;
    grid-template-columns: 2;

}

#design:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

#design h1 {
    max-width: 350px;
    margin: 30px auto;
    margin-top: 30px;
    margin-bottom: 10px;
    padding-left: 36px;

}

#design p {
    max-width: 350px;
    margin: 30px auto;
    padding-left: 36px;
}

/******************Interactive_infografik*******************/

.int_img {
    width: 16%;
    top: 170%;
    left: 60%;
    position: absolute;
}

/*--------- Balloon ---------*/

.BPAfri-infografik {
    position: relative;
    border: none;
    background-color: Transparent;
    background-repeat: no-repeat;
    z-index: 3;
    width: 20%;
    left: -8%;
    top: 15%;
}

.Frostfri-infografik {
    position: relative;
    border: none;
    background-color: Transparent;
    background-repeat: no-repeat;
    z-index: 2;
    width: 30%;
    top: -43%;
    left: -21%;


}

.Drypfri-infografik {
    position: relative;
    border: none;
    background-color: Transparent;
    background-repeat: no-repeat;
    z-index: 2;
    width: 20%;
    top: 11%;
    left: -9%;


}

.pulse-button {
    border: none;
    padding: 4%;
    box-shadow: 0 0 0 0 rgba(106, 144, 255, 0.3);
    border-radius: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
    -webkit-animation: pulse 2s infinite cubic-bezier(0.66, 0, 0, 1);
    -moz-animation: pulse 2s infinite cubic-bezier(0.66, 0, 0, 1);
    -ms-animation: pulse 2s infinite cubic-bezier(0.66, 0, 0, 1);
    animation: pulse 2s infinite cubic-bezier(0.66, 0, 0, 1);
}

.pulse-button:hover {
    -webkit-animation: none;
    -moz-animation: none;
    -ms-animation: none;
    animation: none;
}

@-webkit-keyframes pulse {
    to {
        box-shadow: 0 0 0 45px rgba(106, 144, 255, 0);
    }
}

@-moz-keyframes pulse {
    to {
        box-shadow: 0 0 0 45px rgba(106, 144, 255, 0);
    }
}

@-ms-keyframes pulse {
    to {
        box-shadow: 0 0 0 45px rgba(106, 144, 255, 0);
    }
}

@keyframes pulse {
    to {
        box-shadow: 0 0 0 45px rgba(106, 144, 255, 0);
    }
}

/******************Design slut*******************/

/******************BPA*******************/

#info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: #6A90FF;


}

#info:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

#info p {
    color: #4978FF;

}

#info {
    width: 100%;
    display: block;
}

.info_bpa {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-bottom: 2.5%;
}

.info_frost {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    margin-bottom: 1.5%;
}

.info_dryp {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#bpa {

    margin-right: 8%;
    margin-bottom: 8%;

}


#frost {

    margin-bottom: 8%;

}

#dryp {

    margin-left: 8%;
    margin-top: 3%;
    margin-bottom: 8%;

}

/******************BPA slut*******************/

/******************Køb*******************/

#koeb {
    width: 100%;
    height: auto;
}

#koeb:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

#koeb_button {
    position: relative;
    top: 81%;
    left: 92%;
    width: 21%;
    height: 70px;
    padding: 2%;
}

#koeb_tx {
    font-size: 1.20rem;
    margin-top: 3%;
    text-align: center;
}

#koeb h3 {
    font-size: 1.25rem;
    margin-left: 12px;
    margin-bottom: 12px;
}

#flaske-left {
    /*    background-color: crimson;*/
    padding-right: 4%;
}

#flaske-right {
    /*    background-color: darkorchid;*/
    padding-left: 4%;
}

#pris_small {
    position: relative;
    top: 50%;
    left: 24%;
    width: 16%;
    height: 70px;
    padding: 2%;
    /*    background-color: aqua;*/
}

#pris_big {
    position: relative;
    top: 50%;
    left: 57%;
    width: 16%;
    height: 70px;
    padding: 2%;
    /*    background-color: aqua;*/
}

#small {
    height: auto;
    float: right;
    margin-top: -14.5%;
}

#big {
    height: auto;
    float: left;
}

/******************animerend flaskevand*******************/

#bottlewater {
    width: 351.99874px;
    height: 678.954331px;
    z-index: 2;

}

#bottlewater_sprite {
    background-image: url(img/flaske_animation.png);
    background-size: 300%;
    width: 351.99874px;
    height: 678.954331px;

}

.bottlewater_walkcycle {
    animation-name: bottlewater_walkcycle_kf;
    animation-duration: 3s;
    animation-timing-function: steps(3);
    animation-iteration-count: infinite;
    animation-direction: towards;

}

@keyframes bottlewater_walkcycle_kf {
    0% {
        display: none
    }
    100% {
        background-position: -300%;
    }
}

/******************animerend flaskevand*******************/

#flaskevand {
    width: 351.99874px;
    height: 678.954331px;
    z-index: 2;

}

#flaskevand_sprite {
    background-image: url(img/flaske_animation_right.png);
    background-size: 300%;
    width: 351.99874px;
    height: 678.954331px;

}

.flaskevand_walkcycle {
    animation-name: flaskevand_walkcycle_kf;
    animation-duration: 3s;
    animation-timing-function: steps(3);
    animation-iteration-count: infinite;
    animation-direction: reverse;

}

@keyframes flaskevand_walkcycle_kf {
    0% {
        display: none
    }
    100% {
        background-position: -300%;
    }
}


/******************Køb slut*******************/

/******************Insta*******************/

#insta {
    height: auto;
    margin-top: 3%;
}

#insta:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

/******************isnta slut*******************/

/******************Reveiew*******************/

#review {
    display: grid;
    margin-top: 4%;

}

#review:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.center_pro {
    width: 100%;
    padding-top: 6%;
    margin-bottom: 0%;
    text-align: center;
}

.center {
    width: 100%;
    text-align: center;
}

#review #left {
    margin-right: 4%;
}

#review #right {
    margin-left: 4%;
}

/******************Reveiew slut*******************/

/******************om os*******************/

#omoscontainer {
    margin: 0 auto;
    max-width: 600px;
    padding: 40px;

}

#omostekst h1 {
    text-align: center;
}

#omostekst {
    grid-column: 1;
}

#omosimg {
    grid-column: 2;
    width: 300px;
}


/******************om os slut*******************/

/******************kontakt*******************/

.kontakter {
    margin: 0 auto;
    max-width: 600px;
    text-align: center;

}

.kontaktform {
    margin: 0 auto;
    max-width: 600px;
    padding-bottom: 30px;
}


.kontaktform form {
    padding-top: 30px;

}

/* Style inputs with type="text", select elements and textareas */

input[type=text],
select,
textarea {
    width: 100%;
    /* Full width */
    padding: 6px;
    /* Some padding */
    border: 1px solid #ccc;
    /* Gray border */
    border-radius: 4px;
    /* Rounded borders */
    box-sizing: border-box;
    /* Make sure that padding and width stays in place */
    margin-top: 30px;
    /* Add a top margin */
    margin-bottom: 16px;
    /* Bottom margin */
    resize: vertical/* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */

input[type=submit]:hover {
    background-color: #45a049;
}




/******************kontakt slut*******************/

/*******************footer************************/

footer {
    background-color: #1746cc;
    position: relative;
}

#kontaktinfo,
#siderne {
    padding-top: 11.5%;
    padding-left: 6%;
    padding-right: 6%;
}

footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}


footer li {
    display: block;
    padding-left: 0px;
    padding-top: 8px;
    padding-bottom: 8px;
}

footer a {
    color: #fff;
    text-decoration: none;

}

footer a:hover {
    color: #000;
}

#bottom-footer {
    background-color: #12369D;
    /*    position: absolute;*/
    height: 30px;
    width: 100%;
    left: 0;
    bottom: 0;
    overflow: hidden;
    color: #6a90ff;
    text-align: center;
    padding-top: 20px;
    font-size: 0.8rem;
}

/*******************Nyhedsbrev************************/

#nyhedsbrev {
    padding-bottom: 12%;
    padding-top: 6%;
}

form {
    border: none;
    font-family: Arial;
}

.contain_news {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 0px;
}

input[type=text],
input[type=submit] {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

input[type=checkbox] {
    margin-top: 16px;
}

input[type=submit] {
    background-color: #6A90FF;
    color: white;
    border: none;
}

input[type=submit]:hover {
    opacity: 0.8;
}

/******************************************************************  Produkt.html  *****************************************************************/

#pro {
    margin-top: 4%;
    padding: 2%;
}

#pro:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

#pro h1 {
    margin-top: 4%;
    padding-bottom: 4%;
    font-size: 2.2rem;
}

.center {
    text-align: center;
    margin-bottom: 0;
}

.h1_2 {
    padding-top: 8%;
    padding-bottom: 4%;

}

.pro_img {
    width: 25%;
}

.pro_r1_img {
    width: 25%;

}

.pro_02_img {
    width: 70%;
    margin-left: 10%;
}

.pro_03_img {
    width: 84%;
    margin-top: 13%;
    margin-left: 10%;

}

.pro_big_img {
    width: 20%;

}

.pro_small_img {
    width: 60%;
    margin-left: 25%;


}

#pro ul {
    padding: 20px;
    list-style: none;
}

#pro li {
    margin-bottom: 5px;
    font-weight: 700;
}

/******************************************************************  fragt.html  *****************************************************************/

#fragt_info {
    padding-bottom: 8%;
}

#fragt_info h2 {
    margin-top: 8%;
}

/******************************************************************  koeb.html  *****************************************************************/

#shop_h1 {
    text-align: center;
    padding-top: 4%;
    padding-bottom: 2%;
}

#shop_p {
    text-align: center;
    padding-bottom: 2%;
}

#shop_left {
    /*    background-color: chocolate;*/
}

#shop_right {
    padding-left: 6%;
    padding-right: 12%;
    /*    background-color: brown;*/
}

.shop_koeb {
    margin-top: 8%;
    margin-left: 10%;
    margin-bottom: 15%;
    background: #f0f4ff;
}


.shop_koeb h1 {
    text-align: center;
    background-color: #F0A8CF;
    padding-top: 4%;
    padding-bottom: 4%;
    margin: 0;
}

.shop_koeb h2 {
    text-align: center;
    background-color: #D984A8;
    padding-top: 4%;
    padding-bottom: 4%;
    margin-bottom: 0;
}

.shop_koeb p {
    padding: 6%;
    /*    background-color: brown;*/
}

.shop_koeb .button {
    width: 75px;
    text-align: center;
    margin: 0 auto;

}

#submission {
    text-align: center;
}


/*--------- Spørgsmål form ---------*/

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="emne"],
#contact input[type="url"],
#contact textarea,
#contact button[type="submit"] {}

#contact {
    background: white;
    width: 50%;
    margin: 0px auto;
    padding: 5%;
}

#contact h1 {
    color: #12369D;
    display: block;
    font-size: 50px;
    font-weight: 700;
    text-align: center;
}

#contact h4 {
    margin: 5px 0 15px;
    display: block;
    font-size: 1em;
    font-weight: 400;
    text-align: center;
}

fieldset {
    border: medium none !important;
    margin: 0 0 10px;
    min-width: 100%;
    padding: 0;
    width: 100%;

}

#contact input[type="text"],
#contact input[type="url"],
#contact textarea {
    width: 95%;
    border: 1px solid #CCC;
    background: #FFF;
    margin: 0 0 5px;
    padding: 10px;
}

#contact input[type="email"],
#contact input[type="emne"],
#contact input[type="tel"] {
    width: 92%;
    border: 1px solid #CCC;
    background: #FFF;
    margin: 0 0 5px;
    padding: 10px;
}

#contact input[type="text"]:hover,
#contact input[type="email"]:hover,
#contact input[type="emne"]:hover,
#contact input[type="tel"]:hover,
#contact input[type="url"]:hover,
#contact textarea:hover {
    -webkit-transition: border-color 0.3s ease-in-out;
    -moz-transition: border-color 0.3s ease-in-out;
    transition: border-color 0.3s ease-in-out;
    border: 1px solid #AAA;
}

#contact textarea {
    height: 100px;
    max-width: 100%;
    resize: none;
}

#contact button[type="submit"] {
    cursor: pointer;
    width: 16%;
    border: none;
    background: #12369D;
    color: #FFF;
    margin: 0 0 5px;
    padding: 10px;
    font-size: 15px;
}

#contact button[type="submit"]:hover {
    background: #09C;
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active {
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

#contact input:focus,
#contact textarea:focus {
    outline: 0;
    border: 1px solid #999;
}

::-webkit-input-placeholder {
    color: #888;
}

:-moz-placeholder {
    color: #888;
}

::-moz-placeholder {
    color: #888;
}

:-ms-input-placeholder {
    color: #888;
}
