*,
*::before,
*::after {
    box-sizing: inherit;
}


html {
    font-family: sans-serif;
    line-height: 1.15;

}

header,
nav,
main,
section,
footer {
    display: block;
}

section:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

body {
    margin: 0;
    height: auto;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    color: #12369D;
    /*    background: #F6F6F6;*/
    background: white;
}

img {
    width: 100%;
    height: auto;
}

/******************Fonts*******************/

hr {
    border: #12369D 1px solid;

}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
    line-height: 1.6;
}

a {
    color: #12369D;
    text-decoration: none;
    background-color: transparent;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    margin-bottom: 0.5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    color: inherit;
}

h1,
.h1 {
    font-size: 2.5rem;
}

h2,
.h2 {
    font-size: 2rem;
}

h3,
.h3 {
    font-size: 1.75rem;
}

h4,
.h4 {
    font-size: 1.5rem;
}

h5,
.h5 {
    font-size: 1.25rem;
}

h6,
.h6 {
    font-size: 1rem;
}

.left {
    text-align: left;
}

/****************** Media Queries *******************/

.container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    margin: 0;
}

.container_med_padding {
    width: 80%;
    padding-right: 10%;
    padding-left: 10%;
    margin-right: auto;
    margin-left: auto;
    margin: 0;
}

.container_1fr {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    margin: 0;
}

.container_2fr {
    width: 92%;
    padding-right: 4%;
    padding-left: 4%;
    margin-right: auto;
    margin-left: auto;
    margin: 0;
}

.container_3fr {
    width: 92%;
    padding-right: 4%;
    padding-left: 4%;
    margin-right: auto;
    margin-left: auto;
    margin: 0;
}

@media (max-width: 575px) {

    .container_1fr {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .container_2fr {
        /*        background-color: aqua;*/
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .container_3fr {
        /*        background-color: aqua;*/
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .container_med_padding {
        /*        background-color: aqua;*/
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    #SoMe {
        display: none;
    }
    #video_bg {
        display: none;
    }
    #uden-video {
        display: block;
    }
    #video {
        display: none;
    }
    #design {
        display: grid;
        padding-bottom: 250px;
    }

    .content {
        top: -154px;
        padding: 20px;
        width: 285px;
    }
    .content h1 {
        font-size: 1em;
    }

    .content p {
        font-size: 1em;
    }

    #sliderFrame {
        margin-right: 0;
        margin-top: 39%;
    }
    #slider,
    #slider .sliderInner {
        width: 341px;
        height: 190px;

    }
    #omtekst h1 {
        font-size: 1.9rem;
    }
    #kontaktinfo {
        padding-top: 35px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 0px;
    }
    #siderne {
        padding-top: 20px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 0px;
    }
    .topnav {
        display: block;

    }
    .sticky {
        display: none;
    }
    #koeb_button {
        position: relative;
        top: 94%;
        left: 34%;
        width: 35%;
        height: 70px;
        padding: 2%;
    }
    .int_img {
        width: 37%;
        top: 192%;
        left: 30%;
        position: absolute;
    }
    #flaske-left {
        display: none;
    }

    #flaske-right {
        display: none;
    }

    #pris_small {
        position: relative;
        top: 50%;
        left: 24%;
        width: 16%;
        height: 70px;
        padding: 2%;
        /*    background-color: aqua;*/
    }

    #pris_big {
        position: relative;
        top: 50%;
        left: 57%;
        width: 16%;
        height: 70px;
        padding: 2%;
        /*    background-color: aqua;*/
    }
    #design h1 {
        max-width: 350px;
        margin-top: 0px;
        margin-bottom: 10px;
        padding-left: 0px;

    }

    #design p {
        max-width: 350px;
        margin: 30px auto;
        padding-left: 0px;
    }
    .BPAfri-infografik {
        position: relative;
        border: none;
        background-color: Transparent;
        background-repeat: no-repeat;
        z-index: 2;
        width: 15%;
        left: 14%;
        top: 41%;
    }

    .Frostfri-infografik {
        position: relative;
        border: none;
        background-color: Transparent;
        background-repeat: no-repeat;
        z-index: 3;
        width: 20%;
        top: 216%;
        left: -10%;


    }

    .Drypfri-infografik {
        position: relative;
        border: none;
        background-color: Transparent;
        background-repeat: no-repeat;
        z-index: 2;
        width: 15%;
        height: auto;
        left: 2%;
        top: 60%;



    }
    .logo {
        width: 32%;
        margin-left: 19%;
        margin-top: 5.7%;
    }
    /*--------- kontakt form ---------*/
    .myform {
        margin: 0 auto;
        width: 60%;
        padding: 14px;
    }
    blockquote {
        font-family: 'Montserrat', sans-serif;
        position: relative;
        margin: 0;
        line-height: 1.2em;
        padding: 0.5em 2em 0.5em 3em;
    }

}

@media (min-width: 576px) {

    .container_1fr {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .container_2fr {
        /*        background-color: blueviolet;*/
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .container_3fr {
        /*        background-color: blueviolet;*/
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    #video_bg {
        display: none;
    }
    #uden-video {
        display: block;
    }
    .content {
        top: -390px;
        padding: 20px;
        width: 462px;
    }
    #design {
        display: grid;
        padding-bottom: 165px;

    }
    #design h1 {
        max-width: 350px;
        margin: 30px auto;
        margin-top: 30px;
        margin-bottom: 10px;
        padding-left: 0px;

    }

    #design p {
        max-width: 350px;
        margin: 30px auto;
        padding-left: 0px;
    }
    #sliderFrame {
        margin-left: 0;
        top: 10%;
    }
    #slider,
    #slider .sliderInner {
        width: 520px;
        height: 306px;

    }
    .topnav {
        display: block;

    }
    .sticky {
        display: none;
    }
    .int_img {
        width: 16%;
        top: 170%;
        left: 60%;
        position: absolute;
    }
    #flaskevand_sprite {
        margin-top: 8%;
    }

    #pris_small {
        position: relative;
        top: 50%;
        left: 24%;
        width: 16%;
        height: 70px;
        padding: 2%;
        /*    background-color: aqua;*/
    }

    #pris_big {
        position: relative;
        top: 50%;
        left: 57%;
        width: 16%;
        height: 70px;
        padding: 2%;
        /*    background-color: aqua;*/
    }

    .BPAfri-infografik {
        position: relative;
        border: none;
        background-color: Transparent;
        background-repeat: no-repeat;
        z-index: 2;
        width: 15%;
        left: 5%;
        top: 0%;
    }

    .Frostfri-infografik {
        position: relative;
        border: none;
        background-color: Transparent;
        background-repeat: no-repeat;
        z-index: 3;
        width: 20%;
        top: 65%;
        left: -10%;


    }

    .Drypfri-infografik {
        position: relative;
        border: none;
        background-color: Transparent;
        background-repeat: no-repeat;
        z-index: 2;
        width: 15%;
        height: auto;
        top: 12%;
        left: -6%;


    }
    .logo {
        width: 20%;
        margin-left: 29%;
        margin-top: 0.7%;
    }

    /*--------- kontakt form ---------*/
    .myform {
        margin: 0 auto;
        width: 97%;
        padding: 14px;
    }

    blockquote {
        font-family: 'Montserrat', sans-serif;
        position: relative;
        margin: 0;
        line-height: 1.2em;
        padding: 0.5em 2em 0.5em 3em;
    }


}

@media (min-width: 768px) {

    .container {
        /*        background-color: crimson;*/
        grid-template-columns: none;
    }

    .container_1fr {
        /*        background-color: crimson;*/
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .container_2fr {
        /*        background-color: crimson;*/
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .container_med_padding {
        /*        background-color: crimson;*/
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .container_3fr {
        /*        background-color: crimson;*/
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    #uden-video {
        display: none;
    }
    #video_bg {
        display: grid;
        height: 278px;
    }

    .content {
        top: -284px;
        padding: 20px;
        width: 462px;
    }
    #design {
        display: grid;
        padding-bottom: 165px;

    }

    #design h1 {
        max-width: 350px;
        margin: 30px auto;
        margin-top: 30px;
        margin-bottom: 10px;
        padding-left: 36px;

    }

    #design p {
        max-width: 350px;
        margin: 30px auto;
        padding-left: 36px;
    }
    #sliderFrame {
        margin-left: 15%;
        top: 0%;
    }

    #slider,
    #slider .sliderInner {
        width: 382px;
        height: 247px;
    }

    #koeb_button {
        position: relative;
        top: 81%;
        left: 82%;
        width: 30%;
        height: 70px;
        padding: 2%;
    }
    #kontaktinfo,
    #siderne {
        padding-top: 11.5%;
        padding-left: 0%;
        padding-right: 0%;
    }
    #sliderFrame {
        margin-left: 4%;
        margin-right: 6%;
        top: 0%;
    }
    #flaske-left {
        /*    background-color: crimson;*/
        /*    padding-right: 4%;*/
    }

    #flaske-right {
        /*    background-color: darkorchid;*/
        /*    padding-left: 4%;*/
    }
    .int_img {
        width: 25%;
        top: 106%;
        left: 57%;
        position: absolute;
    }
    #flaskevand_sprite {
        margin-top: 9%;
    }

    #pris_small {
        position: relative;
        top: 50%;
        left: 24%;
        width: 27%;
        height: 70px;
        padding: 2%;
        /*    background-color: aqua;*/
    }

    #pris_big {
        position: relative;
        top: 50%;
        left: 57%;
        width: 27%;
        height: 70px;
        padding: 2%;
        /*    background-color: aqua;*/
    }

    .BPAfri-infografik {
        position: relative;
        border: none;
        background-color: Transparent;
        background-repeat: no-repeat;
        z-index: 2;
        width: 15%;
        left: 5%;
        top: 28%;

    }

    .Frostfri-infografik {
        position: relative;
        border: none;
        background-color: Transparent;
        background-repeat: no-repeat;
        z-index: 3;
        width: 20%;
        top: 81%;
        left: -10%;


    }

    .Drypfri-infografik {
        position: relative;
        border: none;
        background-color: Transparent;
        background-repeat: no-repeat;
        z-index: 2;
        width: 15%;
        height: auto;
        top: 39%;
        left: -6%;


    }


    .logo {
        width: 20%;
        margin-left: 19%;
        margin-top: 0.7%;
    }
    /*--------- kontakt form ---------*/
    .myform {
        margin: 0 auto;
        width: 97%;
        padding: 14px;
    }

    blockquote {
        font-family: 'Montserrat', sans-serif;
        position: relative;
        margin: 0.5em;
        line-height: 1.2em;
        padding: 0.5em 2em 0.5em 3em;
    }
}



@media (min-width: 992px) {

    .container {

        grid-template-columns: none;
    }
    .container_1fr {

        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .container_2fr {
        /*        background-color: darkseagreen;*/
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .container_med_padding {
        /*        background-color: crimson;*/
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .container_3fr {
        /*        background-color: darkseagreen;*/
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .topnav {
        margin: 0px auto;
        width: 1037px;
        /*        background-color: aqua;*/
    }
    .topnav a {
        margin-right: 140px;
    }
    .topnav a:nth-child(5) {
        margin-right: 0px;
    }
    .sticky {
        padding-left: 14%;
        /*        background-color: blueviolet;*/
    }
    #design h1 {
        max-width: 350px;
        margin: 30px auto;
        margin-top: 30px;
        margin-bottom: 10px;
        padding-left: 36px;

    }
    #design {
        display: grid;
        padding-bottom: 165px;

    }

    #design p {
        max-width: 350px;
        margin: 30px auto;
        padding-left: 36px;
    }
    #video_bg {
        display: grid;
        height: 362px;
    }
    #uden-video {
        display: none;
    }
    .content {
        top: -323px;
        padding: 20px;
        width: 462px;
    }
    #sliderFrame {
        margin-left: 4%;
        margin-right: 6%;
        top: 0%;
    }
    #slider,
    #slider .sliderInner {
        width: 520px;
        height: 306px;
    }
    #koeb_button {
        position: relative;
        top: 81%;
        left: 92%;
        width: 24%;
        height: 70px;
        padding: 2%;
    }
    #kontaktinfo,
    #siderne {
        padding-top: 11.5%;
        padding-left: 6%;
        padding-right: 6%;
    }
    #flaske-left {
        /*    background-color: crimson;*/
        padding-right: 4%;
    }

    #flaske-right {
        /*    background-color: darkorchid;*/
        padding-left: 4%;
    }
    .int_img {
        width: 20%;
        top: 82%;
        left: 56%;
        position: absolute;
    }
    #flaskevand_sprite {
        margin-top: 6%;
    }

    #pris_small {
        position: relative;
        top: 50%;
        left: 24%;
        width: 20%;
        height: 70px;
        padding: 2%;
        /*    background-color: aqua;*/
    }

    #pris_big {
        position: relative;
        top: 50%;
        left: 57%;
        width: 20%;
        height: 70px;
        padding: 2%;
        /*    background-color: aqua;*/
    }

    .BPAfri-infografik {
        position: relative;
        border: none;
        background-color: Transparent;
        background-repeat: no-repeat;
        z-index: 2;
        width: 15%;
        left: 5%;
        top: 13%;
    }

    .Frostfri-infografik {
        position: relative;
        border: none;
        background-color: Transparent;
        background-repeat: no-repeat;
        z-index: 3;
        width: 20%;
        top: 79%;
        left: -10%;


    }

    .Drypfri-infografik {
        position: relative;
        border: none;
        background-color: Transparent;
        background-repeat: no-repeat;
        z-index: 2;
        width: 15%;
        height: auto;
        top: 34%;
        left: -11%;


    }
    .logo {
        width: 20%;
        margin-left: 29%;
        margin-top: 0.7%;
    }
    /*--------- kontakt form ---------*/
    .myform {
        margin: 0 auto;
        width: 60%;
        padding: 14px;
    }

    blockquote {
        font-family: 'Montserrat', sans-serif;
        position: relative;
        margin: 0.5em;
        line-height: 1.2em;
        padding: 0.5em 2em 0.5em 3em;
    }

}

@media (min-width: 1200px) {

    .container {
        /*        background-color: darkorange;*/
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .container_1fr {
        /*        background-color: darkorange;*/
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .container_2fr {
        /*        background-color: darkorange;*/
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .container_med_padding {
        /*        background-color: crimson;*/
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .container_3fr {
        /*        background-color: darkorange;*/
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .topnav {
        margin: 0px auto;
        width: 1037px;
        /*        background-color: aqua;*/
    }
    .topnav a {
        margin-right: 140px;
    }
    .topnav a:nth-child(5) {
        margin-right: 0px;
    }
    .sticky {
        padding-left: 13%;
        /*        background-color: blueviolet;*/
    }
    #design {
        display: grid;
        padding-bottom: 165px;

    }
    #design h1 {
        max-width: 350px;
        margin: 30px auto;
        margin-top: 30px;
        margin-bottom: 10px;
        padding-left: 36px;

    }

    #design p {
        max-width: 350px;
        margin: 30px auto;
        padding-left: 36px;
    }
    #video_bg {
        display: grid;
        height: 500px;
    }
    #uden-video {
        display: none;
    }
    .content {
        top: -390px;
        padding: 20px;
        width: 462px;
    }
    #sliderFrame {
        margin-left: 15%;
        top: 0%;
    }
    #slider,
    #slider .sliderInner {
        width: 520px;
        height: 306px;
    }
    #koeb_button {
        position: relative;
        top: 81%;
        left: 92%;
        width: 21%;
        height: 70px;
        padding: 2%;
    }
    #kontaktinfo,
    #siderne {
        padding-top: 11.5%;
        padding-left: 6%;
        padding-right: 6%;
    }
    #flaske-left {
        /*    background-color: crimson;*/
        padding-right: 4%;
    }

    #flaske-right {
        /*    background-color: darkorchid;*/
        padding-left: 4%;
    }
    .int_img {
        width: 16%;
        top: 170%;
        left: 60%;
        position: absolute;
    }
    #flaskevand_sprite {
        margin-top: 0%;
    }

    #pris_small {
        position: relative;
        top: 50%;
        left: 24%;
        width: 16%;
        height: 70px;
        padding: 2%;
        /*    background-color: aqua;*/
    }

    #pris_big {
        position: relative;
        top: 50%;
        left: 57%;
        width: 16%;
        height: 70px;
        padding: 2%;
        /*    background-color: aqua;*/
    }

    .BPAfri-infografik {
        position: relative;
        border: none;
        background-color: Transparent;
        background-repeat: no-repeat;
        z-index: 2;
        width: 15%;
        left: 5%;
        top: 0%;
    }

    .Frostfri-infografik {
        position: relative;
        border: none;
        background-color: Transparent;
        background-repeat: no-repeat;
        z-index: 3;
        width: 20%;
        top: 65%;
        left: -10%;


    }

    .Drypfri-infografik {
        position: relative;
        border: none;
        background-color: Transparent;
        background-repeat: no-repeat;
        z-index: 2;
        width: 15%;
        height: auto;
        top: 12%;
        left: -6%;


    }
    .logo {
        width: 20%;
        margin-left: 29%;
        margin-top: 0.7%;
    }
    /*--------- kontakt form ---------*/
    .myform {
        margin: 0 auto;
        width: 60%;
        padding: 14px;
    }

    blockquote {
        font-family: 'Montserrat', sans-serif;
        position: relative;
        margin: 0.5em;
        line-height: 1.2em;
        padding: 0.5em 2em 0.5em 3em;
    }


}

.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

#uden-video {
    width: 100%;
}

/*********** Media Queries Navigation ************************/

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */

@media screen and (max-width: 600px) {

    .topnav a:not(:first-child) {
        display: none;
    }
    .topnav a.icon {
        float: right;
        display: block;
    }

}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */

@media screen and (max-width: 600px) {

    .topnav.responsive {
        position: relative;
    }
    .topnav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}

/******************video*******************/

video {
    width: 100%;
}

/******************header-top*******************/

#header-top {
    height: auto;
    padding-left: 40px;
    padding-bottom: 25px;

}

.icons_02 {
    width: 50%;
    height: auto;
    padding-left: 18%;

}

.icons_03 {
    width: 67%;
    height: auto;
    margin-top: 12%;
    padding-left: 10%;
}

.icons_04 {
    width: 60%;
    height: auto;
    margin-top: 12%;
    padding-left: 11%;
}

.icons:first-child {
    width: 30px;
    height: 30px;

}

.icons:nth-child(2) {
    width: 30px;
    height: 30px;
}

.icons:nth-child(3) {
    width: 30px;
    height: 30px;
}

.cart {
    width: 30px;
    height: 30px;
    margin-left: 10px;
}



/******************Navbar/Menu*******************/

/* The sticky class is added to the navbar with JS when it reaches its scroll position */

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}



/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */

.sticky + #SoMe {
    padding-top: 60px;

}



/* Add a black background color to the top navigation */

.topnav {
    background: white;
    overflow: hidden;
    color: black;


}

/* Style the links inside the navigation bar */

.topnav a {
    display: inline-block;
    text-align: center;
    padding: 16px 14px 5px 14px;
    text-decoration: none;
    font-size: 17px;
    margin-bottom: 25px;
    color: black;

}

/* Change the color of links on hover */

.topnav a:hover {
    color: #12369D;
}

/* Add an active class to highlight the current page */

.topnav .active {
    border-bottom: 2px #12369D solid;
}


/* Hide the link that should open and close the topnav on small screens */

.topnav .icon {
    display: none;
}

/******************SoMe*******************/

#SoMe {
    height: auto;
    width: 100%;
    background-color: #6a90ff;
    color: #12369D;
    z-index: -5;
}

#SoMe:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

#SoMe_tx {
    text-align: center;
    display: inline-block;
    width: 100%;
    background-color: #6a90ff;
    padding-top: 1.5%;
    padding-bottom: 0.5%;

}

.button {
    background-color: #ffc84d;
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
}

.button_koeb {
    background-color: #ffc84d;
    border: none;
    color: white;
    text-transform: uppercase;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    margin-left: -4%;
}

/*
.top {
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, .8);
    -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, .8);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .8);
}
*/

/******************Video_bg*******************/

#video_bg:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}


#myVideo {
    right: 0;
    bottom: 0;
    min-width: 100%;

}

.content {
    color: #12369D;
    position: relative;
    text-align: center;
    margin: 0px auto;
}

#myBtn {
    width: 70px;
    font-size: 16px;
    padding: 10px;
    margin-left: 1%;
    border: none;
    background: #ffb000;
    /*    background: #12369D;*/
    color: #fff;
    cursor: pointer;
}


/******************Omflasken*******************/

#omflasken {
    display: grid;
    width: 100%;
    z-index: 7;
    margin-top: 6%;

}

#omflasken:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}


.omtekst {
    max-width: 500px;
}

#omflasken h1 {
    margin-top: 2%;
    margin-bottom: 2%;

}

#omflasken p {
    line-height: 1.6;


}

/******************Omflasken slut*******************/

/******************Design*******************/

#design_container {
    width: 100%;



}

#design:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}



/******************Interactive_infografik*******************/

/*--------- Balloon ---------*/

.BPAfri-infografik {
    position: relative;
    border: none;
    background-color: Transparent;
    background-repeat: no-repeat;
    z-index: 2;
}

.Frostfri-infografik {
    position: relative;
    border: none;
    background-color: Transparent;
    background-repeat: no-repeat;
    z-index: 3;



}

.Drypfri-infografik {
    position: relative;
    border: none;
    background-color: Transparent;
    background-repeat: no-repeat;
    z-index: 2;


}

.pulse-button {
    border: none;
    padding: 5%;
    box-shadow: 0 0 0 0 rgba(106, 144, 255, 0.3);
    border-radius: 50%;
    background: #6A90FF;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
    animation: pulse 2s infinite cubic-bezier(0.66, 0, 0, 1);
}

.pulse-button:hover {

    animation: none;
}


@keyframes pulse {
    to {
        box-shadow: 0 0 0 45px rgba(106, 144, 255, 0);
    }
}

/******************Design slut*******************/

/******************BPA*******************/

#info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: #6A90FF;


}

#info:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

#info p {
    color: white;
    text-align: center;
}

#info {
    width: 100%;
    padding-top: 4%;
    padding-bottom: 1%;
    display: block;
}

.info_bpa {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-bottom: 2.5%;
}

.info_frost {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    margin-bottom: 1.5%;
}

.info_dryp {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#bpa {
    margin-right: 8%;
    margin-bottom: 8%;

}


#frost {

    margin-bottom: 8%;

}

#dryp {

    margin-left: 8%;
    margin-top: 3%;
    margin-bottom: 8%;

}

/******************BPA slut*******************/

/******************Køb*******************/

#koeb {
    width: 100%;
    height: auto;
}

#koeb:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}



#koeb_tx {
    font-size: 1.20rem;
    margin-top: 3%;
    text-align: center;
}

#koeb h3 {
    font-size: 1.25rem;
    margin-left: 12px;
    margin-bottom: 12px;
}

#small {
    height: auto;
    float: right;
    margin-top: -14.5%;
}

#big {
    height: auto;
    float: left;
}

/******************animerend flaskevand*******************/

#bottlewater {
    width: 351px;
    height: 678px;
    z-index: 2;

}

#bottlewater_sprite {
    background-image: url(img/flaske_animation.png);
    background-size: 300%;
    width: 351px;
    height: 678px;

}

.bottlewater_walkcycle {
    animation-name: bottlewater_walkcycle_kf;
    animation-duration: 3s;
    animation-timing-function: steps(3);
    animation-iteration-count: infinite;
    /*    animation-direction:;*/
}

@keyframes bottlewater_walkcycle_kf {
    0% {
        display: none
    }
    100% {
        background-position: -300%;
    }
}

/******************animerend flaskevand*******************/

#flaskevand {
    width: 351.99874px;
    height: 678.954331px;
    z-index: 2;

}

#flaskevand_sprite {
    background-image: url(img/flaske_animation_right.png);
    background-size: 300%;
    width: 351.99874px;
    height: 678.954331px;

}

.flaskevand_walkcycle {
    animation-name: flaskevand_walkcycle_kf;
    animation-duration: 3s;
    animation-timing-function: steps(3);
    animation-iteration-count: infinite;
    animation-direction: reverse;

}

@keyframes flaskevand_walkcycle_kf {
    0% {
        display: none
    }
    100% {
        background-position: -300%;
    }
}


/******************Køb slut*******************/

/******************Insta*******************/

#insta {
    height: auto;
}

#insta:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

/******************isnta slut*******************/

/******************Reveiew*******************/

#review {
    display: grid;
    padding-bottom: 4%;
    padding-top: 4%;
    color: #ffffff;
    background: #ffb000;
}

#review:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.center {
    width: 100%;
    text-align: center;
}

.midt {
    width: 100%;
    margin: 0;
    padding-bottom: 2%;
    text-align: center;
}

#review #left {
    margin-right: 4%;
}

#review #right {
    margin-left: 4%;
}

/******************Reveiew slut*******************/

/******************om os*******************/

#omos-wrapper {
    padding-left: 20%;
    padding-right: 20%;
}

#omos-wrapper h1 {
    text-align: center;
    text-align: center;
    margin-top: 4%;
    padding-bottom: 4%;
}

#omos-wrapper p {}

#omosimg {
    width: 50%;
    margin: 0 auto;
}

.os_pic {
    width: 59%;
}

.stifter {
    padding-bottom: 0;
    margin-bottom: 0;
}


/******************om os slut*******************/

/******************kontakt*******************/

.kontakter {
    margin: 0 auto;
    max-width: 600px;
    text-align: center;

}

.kontaktform {
    margin: 0 auto;
    width: 100%;
    padding-top: 4%;
    padding-bottom: 2%;
    background: #ffc84d;
}


.kontaktform form {}



/* ----------- basic ----------- */

#basic {
    border: solid 2px #DEDEDE;
}

#basic h1 {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 8px;
}

#basic p {
    font-size: 11px;
    color: #666666;
    margin-bottom: 20px;
    border-bottom: solid 1px #dedede;
    padding-bottom: 10px;
}

#basic label {
    display: block;
    font-weight: bold;
    text-align: right;
    width: 140px;
    float: left;
}

#basic .small {
    color: #666666;
    display: block;
    font-size: 11px;
    font-weight: normal;
    text-align: right;
    width: 140px;
}

#basic input {
    float: left;
    width: 200px;
    margin: 2px 0 30px 10px;
}

#basic button {
    clear: both;
    margin-left: 150px;
    background: #888888;
    color: #FFFFFF;
    border: solid 1px #666666;
    font-size: 11px;
    font-weight: bold;
    padding: 4px 6px;
}


/* ----------- stylized ----------- */

#stylized {
    border: none;
    background: #ffc84d;

}

#stylized h1 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #FFFFFF;
    text-transform: uppercase;
    margin-bottom: 1%;
    text-align: center;
}

#stylized h4 {
    font-size: 1rem;
    font-weight: 300;
    color: #FFFFFF;
    text-transform: uppercase;
    margin-bottom: 4%;
    text-align: center;
}

#stylized p {
    font-size: 11px;
    color: #666666;
    margin-bottom: 20px;
    padding-bottom: 10px;
}

#stylized label {
    display: block;
    font-weight: bold;
    text-align: right;
    width: 140px;
    float: left;
    line-height: 34px;
    color: #FFFFFF;
    font-size: 12px;
}

#stylized .small {
    color: #666666;
    display: block;
    font-size: 11px;
    font-weight: normal;
    text-align: right;
    width: 140px;
}

#stylized input {
    float: left;
    font-size: 12px;
    padding: 4px 2px;
    border: none;
    width: 70%;
    border-bottom: 1px solid #FFFFFF;
    background: #ffc84d;
    margin: 2px 0 20px 10px;
}

#stylized textarea {
    float: left;
    font-size: 12px;
    padding: 4px 2px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #FFFFFF;
    width: 70%;
    background: #ffc84d;
    margin: 2px 0 20px 10px;
}

#stylized button {
    clear: both;
    width: 125px;
    height: 31px;
    border: none;
    background: #6A90FF;
    text-align: center;
    line-height: 31px;
    color: #FFFFFF;
    font-size: 11px;
    font-weight: bold;
}



/******************kontakt slut*******************/

/*******************footer************************/

footer {
    background-color: #1746cc;
    position: relative;
}



footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}


footer li {
    display: block;
    padding-left: 0px;
    padding-top: 8px;
    padding-bottom: 8px;
}

footer a {
    color: #fff;
    text-decoration: none;

}

footer a:hover {
    color: #000;
}

#bottom-footer {
    background-color: #12369D;
    /*    position: absolute;*/
    height: 30px;
    width: 100%;
    left: 0;
    bottom: 0;
    overflow: hidden;
    color: #6a90ff;
    text-align: center;
    padding-top: 20px;
    font-size: 0.8rem;
}

/*******************Nyhedsbrev************************/

#nyhedsbrev {
    padding-bottom: 12%;
    padding-top: 6%;
}

form {
    border: none;
    font-family: Arial;
}

.contain_news {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 0px;
}

input[type=text],
input[type=submit] {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

input[type=checkbox] {
    margin-top: 16px;
}

input[type=submit] {
    background-color: #6A90FF;
    color: white;
    border: none;
}

input[type=submit]:hover {
    opacity: 0.8;
}

/******************************************************************  index.html  *****************************************************************/

/* Thanks: http://callmenick.com/post/styling-blockquotes-with-css-pseudo-classes */

blockquote:before {
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    font-size: 6em;
    line-height: 1;
    top: 0;
    left: 0;
    content: "\201C";
}

blockquote:after {
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    float: right;
    font-size: 6em;
    line-height: 1;
    right: 0;
    bottom: -0.5em;
    content: "\201D";
}

blockquote footer {
    padding: 0 2em 0 0;
    text-align: right;
    background: none;
}

blockquote cite:before {
    content: "\2013";
}

/******************************************************************  Produkt.html  *****************************************************************/

.pro {
    margin-top: 4%;
    padding: 2%;
}

.pro:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.pro h1 {
    margin-top: 4%;
    padding-bottom: 4%;
    font-size: 2.2rem;
}

.center {
    text-align: center;
    padding-top: 4%;
    margin-bottom: 0;
}

.h1_2 {
    padding-top: 8%;
    padding-bottom: 4%;

}

.pro_img {
    width: 25%;
}

.pro_r1_img {
    width: 25%;

}

.pro_02_img {
    width: 70%;
    margin-left: 10%;
}

.pro_03_img {
    width: 84%;
    margin-top: 13%;
    margin-left: 10%;

}

.pro_big_img {
    width: 20%;

}

.pro_small_img {
    width: 60%;
    margin-left: 25%;


}

#pro ul {
    padding: 20px;
    list-style: none;
}

#pro li {
    margin-bottom: 5px;
    font-weight: 700;
}

/******************************************************************  fragt.html  *****************************************************************/

#fragt_info {
    padding-bottom: 8%;
}

#fragt_info h2 {
    margin-top: 8%;
}

/******************************************************************  koeb.html  *****************************************************************/

.shop {
    width: 90%;
}

.shop_h1 {
    text-align: center;
    padding-top: 4%;
    padding-bottom: 2%;
}

.shop_p {
    text-align: center;
    margin-top: -1%;
    font-size: 1.4em;
    line-height: 0.9em;
    padding-bottom: 7%;
}

.shop_manchet {
    text-align: center;
    margin-top: 5%;
    font-size: 1.4em;
    line-height: 0.9em;
    padding-bottom: 2%;
}


.shop_left {}

.shop_right {
    padding: 0;

    /*    background-color: brown;*/
}

.shop_koeb {
    margin-right: 10%;
    background: #b7c9ff;
}

.shop_koeb h1 {
    text-align: center;
    background-color: #ffc84d;
    padding-top: 4%;
    padding-bottom: 4%;
}

.shop_koeb h2 {
    text-align: center;
    background-color: #ffb000;
    padding-top: 4%;
    padding-bottom: 4%;
    margin-bottom: 0;
}

.shop_koeb p {
    padding-top: 6%;
    padding-left: 6%;
    padding-right: 6%;
    padding-bottom: 6%;
    margin-top: 0;
}

.shop_koeb .button {
    width: 75px;
    text-align: center;
    margin: 0 auto;

}

.shop_koeb_02 {
    margin-right: 10%;
    background: #b7c9ff;
}

.shop_koeb_02 {
    padding-right: 0;
    background-color: #ffd882;
}

.shop_koeb_02 h1 {
    text-align: center;
    background-color: #ffc84d;
    padding-top: 4%;
    padding-bottom: 4%;
}

.shop_koeb_02 h2 {
    text-align: center;
    background-color: #ffb000;
    padding-top: 4%;
    padding-bottom: 4%;
    margin-bottom: 0;
}

.shop_koeb_02 p {
    margin-top: 0;
    padding-top: 6%;
    padding-left: 6%;
    padding-right: 6%;
    padding-bottom: 6%;
    /*    background-color: brown;*/
}

.shop_koeb_02 .button {
    width: 75px;
    text-align: center;
    margin: 0 auto;
    margin-left: -4%;

}

.submission {
    text-align: center;
}

.count-input {
    position: relative;
    width: 100%;
    max-width: 165px;
    margin: 10px 0;
}

.count-input input {
    width: 100%;
    height: 36.92307692px;
    border: 1px solid #000;
    border-radius: 2px;
    background: none;
    text-align: center;
}

.count-input input:focus {
    outline: none;
}

.count-input .incr-btn {
    display: block;
    position: absolute;
    width: 30px;
    height: 30px;
    font-size: 26px;
    font-weight: 300;
    text-align: center;
    line-height: 30px;
    top: 50%;
    right: 0;
    margin-top: -15px;
    text-decoration: none;
}

.count-input .incr-btn:first-child {
    right: auto;
    left: 0;
    top: 46%;
}

.count-input.count-input-sm {
    max-width: 125px;
}

.count-input.count-input-sm input {
    height: 36px;
}

.count-input.count-input-lg {
    max-width: 200px;
}

.count-input.count-input-lg input {
    height: 70px;
    border-radius: 3px;
}
